{% load static from staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Generador Horarios UN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "js/libs/ngprogress/ngProgress.css" %}">
        <!-- endbuild -->
</head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="navbar navbar-default">
      <div class="container">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: $state.includes('schedules') }"><a ui-sref="schedules.ui">Horarios Un</a></li>
            <li ng-class="{ active: $state.includes('about') }"><a ui-sref="about">About</a></li>
          </ul>
      </div>
    </div>
    <!--states are shown here-->
    <ui-view></ui-view>
    <hr>
    <div id="footer">
      <div class="container text-center">
        <!--social buttons-->
        <div>
          <div id="fb-root"></div>
          <div class="fb-like" style="display: inline-flex;" data-href="http://nomeroben.com" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
          <iframe src="http://ghbtns.com/github-btn.html?user=xyos&repo=horarios&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://nomeroben.com/bogota" data-lang="es" data-hashtags="horarioun">Twittear</a>
        </div>
        <div>© 2014 NoMeRoben.com</div>
        <div><strong>Horarios UN</strong> creado por <a href="http://jairosuarez.com">Jairo Suárez</a>, Santiago Pérez</div>
        <div>Código licenciado bajo: <a href="http://opensource.org/licenses/mit-license.html">MIT License</a></div>

      </div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js" data-main="{%  if debug %}{% static "js/tmp/main-built.js" %}{% else %}{% static "js/main-built.js" %}{% endif %}"></script>
    <script>
      window.name = "NG_DEFER_BOOTSTRAP!";
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-47728189-1', 'nomeroben.com');
        ga('send', 'pageview');
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=367350966737824";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
