<div class="row" ng-controller="ScheduleListCtrl">

    <div class="row">


        <div class="col-sm-2 col-md-2"
             ng-repeat="schedule in schedules | startFrom:currentPage*pageSize | limitTo:pageSize">
            <div ng-click="loadSchedule(schedule.index)" class="thumbnail">
                <img ng-src="{{ schedule.thumbnail()}}" height="{{ height }}" width="{{ width }}">

                <div class="caption">
                    <p><a class="btn {{ schedule.index === index ? 'btn-primary' : 'btn-default' }}" role="button">Horario
                        {{ schedule.index + 1 }}</a></p>
                </div>
            </div>
        </div>
    </div>


    <div ng-show="numberOfPages() > 1" class="col-sm-12 col-md-12">
        <ul class="pagination pagination-centered">
            <li ng-class="{disabled : currentPage == 0 }">
                <a a-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">&laquo</a>
            </li>
            <li ng-repeat="page in range(numberOfPages())"
                ng-class="{active: (page == currentPage) }">
                <a>{{ page + 1 }}</a>
            </li>
            <li ng-class="{disabled : (currentPage >= schedules.length/pageSize - 1) }">
                <a a-disabled="currentPage >= schedules.length/pageSize - 1" ng-click="currentPage=currentPage+1">»</a>
            </li>
        </ul>
    </div>

</div>
